body {
  background-color: #66bfbf;
  background-image: linear-gradient(to bottom, #0009, transparent);
  min-height: 100vh;
}
h1 {
  position: relative;
  left: 45%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 15rem;
  height: 7rem;
  margin: 0.5em;
  margin-bottom: 2em;
  padding: 1rem;
  background-color: #ffcbcb;
  box-shadow: 0px 0px 6px 1px rgba(211, 211, 211);
  transition: transform 0.3s;
  border-radius: 10px;
}

.cardTitle {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0px;
  color: black;
  font-weight: bold;
  background-size: contain;
  background-blend-mode: darken;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardDetails {
  color: black;
  text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0px;
  color: black;
  font-weight: bold;
  background-size: contain;
  background-blend-mode: darken;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  word-wrap: break-word;
  left: 40%;
  top: 40%;
  width: 20rem;
  height: 10rem;
  margin: 0.5em;
  margin-bottom: 2em;
  padding: 1rem;
  background-color: #ffcbcb;
  box-shadow: 0px 0px 6px 1px rgba(211, 211, 211);
  transition: transform 0.3s;
  border-radius: 10px;
}

.buttons {
  position: absolute;
  bottom: 10%;
}

.login-card {
  position: relative;
  left: 40%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: auto;
  margin: 0.5em;
  margin-bottom: 2em;
  padding: 1rem;
  background-color: #ffcbcb;
  border-radius: 10px;
}

.link-container {
  justify-content: space-between;
  text-align: center;
  width: 16rem;
  height: 2rem;
  margin: 0.5em;
  margin-bottom: .5em;
  padding: 1rem;
  background-color: #fafafa;
  box-shadow: 0px 0px 6px 1px rgba(211, 211, 211);
  transition: transform 0.3s;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  background-size: contain;
  background-blend-mode: darken;
}